---
- name: Install binary packages
  hosts: localhost
  connection: local
  gather_facts: yes
  vars_files:
    - ../group_vars/all.yml

  tasks:
    - name: Update Dotfiles repository
      include_tasks: ../tasks/update-dotfiles.yml

    - name: Install packages from Brewfile
      include_tasks: ../tasks/brew-install.yml
