---
- name: Configure dotfiles
  hosts: localhost
  connection: local
  gather_facts: yes
  vars_files:
    - ../group_vars/all.yml

  tasks:
    - name: Update Dotfiles repository
      include_tasks: ../tasks/update-dotfiles.yml

    - name: Initialize directory structure
      include_tasks: ../tasks/init-dirs.yml

    - name: Setup zsh configuration
      include_tasks: ../tasks/zsh.yml

    - name: Setup vim configuration
      include_tasks: ../tasks/vim.yml

    - name: Configure Ghostty terminal
      include_tasks: ../tasks/ghostty.yml

    - name: Setup private dotfiles
      include_tasks: ../tasks/private.yml

    - name: Configure git
      include_tasks: ../tasks/git.yml
