---
- name: Setup Hammerspoon configuration
  hosts: localhost
  connection: local
  gather_facts: yes
  vars_files:
    - ../group_vars/all.yml

  tasks:
    - name: Include hammerspoon tasks
      include_tasks: ../tasks/hammerspoon.yml
