---
# Git configuration
- name: Add include block to ~/.gitconfig
  blockinfile:
    path: "{{ ansible_facts.env.HOME }}/.gitconfig"
    block: |
      [include]
      	path = ~/Dotfiles/git/.gitconfig
    create: yes
    mode: '0644'
