---
- name: Check if Dotfiles-private repository exists
  stat:
    path: "{{ ansible_facts.env.HOME }}/Dotfiles-private/.git"
  register: private_repo

- name: Clone Dotfiles-private repository
  git:
    repo: git@github.com:livlikwav/Dotfiles-private.git
    dest: "{{ ansible_facts.env.HOME }}/Dotfiles-private"
    version: main
    accept_hostkey: yes
  when: not private_repo.stat.exists

- name: Create symlink to Dotfiles/private
  file:
    src: "{{ ansible_facts.env.HOME }}/Dotfiles-private"
    dest: "{{ ansible_facts.env.HOME }}/Dotfiles/private"
    state: link
    force: yes
