---
# oh-my-zsh installation
# Reference: https://github.com/ohmyzsh/ohmyzsh?tab=readme-ov-file#basic-installation
- name: Install oh-my-zsh
  shell: sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
  args:
    creates: "{{ ansible_env.HOME }}/.oh-my-zsh"

# Powerlevel10k theme installation
# Reference: https://github.com/romkatv/powerlevel10k?tab=readme-ov-file#oh-my-zsh
- name: Install Powerlevel10k theme
  git:
    repo: "https://github.com/romkatv/powerlevel10k.git"
    dest: "{{ oh_my_zsh_custom }}/themes/powerlevel10k"
    depth: 1
    version: HEAD

- name: Add source line to ~/.zshrc (creates file if not exists)
  lineinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    line: 'source ~/Dotfiles/zsh/.zshrc'
    insertbefore: BOF
    create: yes
    mode: '0644'
    state: present

- name: Display .zshrc configuration result
  debug:
    msg: ".zshrc configured to source Dotfiles/zsh/.zshrc"

- name: Check if oh-my-zsh custom directory exists
  stat:
    path: "{{ oh_my_zsh_custom }}"
  register: oh_my_zsh_stat

- name: Clone zsh plugins
  git:
    repo: "{{ item.repo }}"
    dest: "{{ oh_my_zsh_custom }}/plugins/{{ item.name }}"
    version: HEAD
  loop: "{{ zsh_plugins }}"
  loop_control:
    label: "{{ item.name }}"
  when: oh_my_zsh_stat.stat.exists

- name: Display oh-my-zsh warning if not installed
  debug:
    msg: "Warning: oh-my-zsh custom directory not found. Skipping plugin installation."
  when: not oh_my_zsh_stat.stat.exists
