# GENERAL
alias hs="history | grep"
alias c="clear"

# OS

## MacOS
alias chrome='open -a /Applications/Google\ Chrome.app'
alias code="/Applications/Visual\ Studio\ Code.app/Contents/Resources/app/bin/code"

# TOOLS

## Kubernetes
alias k='kubectl'

### k9s
alias kx='kubectx'
alias ks='kubens'
